@mixin transition($prop, $timing:ease, $duration:.1s){
  transition-property: $prop;
  transition-timing-function: $timing;
  transition-duration: $duration;
}

@mixin media($min-width:false, $max-width:false, $type: all){
    @if $min-width and $max-width {

        @media #{$type} and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }

    } @else if not $min-width and $max-width {

        @media #{$type} and (max-width: $max-width) {
            @content;
        }

    } @else if $min-width and not $max-width {

        @media #{$type} and (min-width: $min-width) {
            @content;
        }

    }
}