$font-path-nitti: '../fonts/nitti';

$body-family: 'nitti';
$alt-family: 'nitti';
$body-weight: 300;
$body-line-height: 1.5em;

$size-m: 20px;
$size-m-sm: 18px;
$size-s: .8em;

$white: #fff;
$base-color: #222;
$bg-color: #f9f9f9;
$accent: #EF4C50;

$spacing-s: .5em;
$spacing-m: 1em;
$spacing-l: 2em;
$spacing-xl: 3em;

$headings-biggest-size: 2.6em;
$headings-steps: 0.3;

$sidebar-width: 250px;

$breakpoint-lg-small: 1350px;
$breakpoint-sm: 760px;