* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: $body-weight $size-m $body-family;
  color: $base-color;
  background-color: $bg-color;
  line-height: $body-line-height;
}

.container {
    width: 700px;
    margin: 0 auto;

    @include media($max-width: $breakpoint-sm){
        width: 90%;
    }
}

.chapter {
  margin-bottom: 2em;
  
  &:first-child {
    margin-top: 2em;
  }
}