h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-bottom: $spacing-m;
  text-decoration: underline;
  line-height: 1em;

  &:target {
    color: $accent;
    &:before {
      opacity: 1 !important;
    }
  }
}

h1 {
  color: $accent;
}

// h1 {
//   color: $accent;
// }

@for $i from 0 through 5 {
  h#{$i+1} {
    font-size: #{($headings-biggest-size - ($headings-steps*$i))};
  }
}

p,ul,ol,pre {
  margin-bottom: $spacing-m;
}

code, pre {
  font-family: $body-family;
}

p {
  font-family: $alt-family;
}

a {
  color: $base-color;
  text-decoration: underline;
  @include transition(color);

  &:hover {
    color: $accent;
  }
}

a.a--h-anchor {
  text-decoration: none;
  color: $base-color;
  
  h1,h2,h3,h4,h5,h6 {
    padding-top: 2em;
    position: relative;
    margin-top: -1em;
    
    &:hover {
      &:before {
        opacity: .4;
      }
    }

    &:before {
      content: '#';
      position: absolute;
      left: -1em;
      opacity: 0;
      @include transition(opacity);
    }
  }
}

code {
  background-color: darken($bg-color, 5%);
}

pre > code {
  white-space: pre-wrap;
  display: block;
  padding: $spacing-s $spacing-m;
  background-color: darken($bg-color, 5%);
}

:not(pre)>code[class*="language-"], pre[class*="language-"] {
  font-size: $size-s;
  background-color: darken($bg-color, 5%);
}

@include media($max-width: $breakpoint-sm){
  body {
    font-size: $size-m-sm;
  }
}